/* Generales */

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html, body{
    font-family: "Public Sans", serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}


/* Tipografía */


    /* headings */

    .h1-smbold{
        font-family: "Public Sans", serif;
        font-size: 2.986rem;
        font-weight: 600;
        font-style: normal;
        margin: 0;
    }
    .h1-bold{
        font-family: "Public Sans", serif;
        font-size: 2.986rem;
        font-weight: 700;
        font-style: normal;
        margin: 0;
    }
    .h2-smbold{
        font-family: "Public Sans", serif;
        font-size: 2.488rem;
        font-weight: 600;
        font-style: normal;
        margin: 0;
    }
    .h2-bold{
        font-family: "Public Sans", serif;
        font-size: 2.488rem;
        font-weight: 700;
        font-style: normal;
        margin: 0;
    }
    .h3-smbold{
        font-family: "Public Sans", serif;
        font-size: 2.074rem;
        font-weight: 600;
        font-style: normal;
        margin: 0;
    }
    .h3-bold{
        font-family: "Public Sans", serif;
        font-size: 2.074rem;
        font-weight: 700;
        font-style: normal;
        margin: 0;
    }
    .h4-smbold{
        font-family: "Public Sans", serif;
        font-size: 1.728rem;
        font-weight: 600;
        font-style: normal;
        margin: 0;
    }
    .h4-bold{
        font-family: "Public Sans", serif;
        font-size: 1.728rem;
        font-weight: 700;
        font-style: normal;
        margin: 0;
    }
    .h5-smbold{
        font-family: "Public Sans", serif;
        font-size: 1.44rem;
        font-weight: 600;
        font-style: normal;
        margin: 0;
    }
    .h5-bold{
        font-family: "Public Sans", serif;
        font-size: 1.44rem;
        font-weight: 700;
        font-style: normal;
        margin: 0;
    }
    .h6-smbold{
        font-family: "Public Sans", serif;
        font-size: 1.2rem;
        font-weight: 600;
        font-style: normal;
        margin: 0;
    }
    .h6-bold{
        font-family: "Public Sans", serif;
        font-size: 1.2rem;
        font-weight: 700;
        font-style: normal;
        margin: 0;
    }

    /* small-headings */


    /* text-paragraph */

    .text-regular{
        font-family: "Public Sans", serif;
        font-size: 1rem;
        font-weight: 400;
        font-style: normal;
    }
    .text-smbold{
        font-family: "Public Sans", serif;
        font-size: 1rem;
        font-weight: 600;
        font-style: normal;
    }

    .text-small{
        font-family: "Public Sans", serif;
        font-size: 0.833rem;
        font-weight: 400;
        font-style: normal;
    }

    .text-caption{
        font-family: "Public Sans", serif;
        font-size: 0.694rem;
        font-weight: 400;
        font-style: normal;
    }

/* Colores */

:root{
    /* primario y secundario */
    --main-color-azul: #222CE1;
    --main-color-azul-oscuro: #13198B;
    --main-color-azul-claro: #5058E7;
    --main-color-naranja: #FF7B06;
    --main-color-naranja-oscuro: #9E4A00;
    --main-color-naranja-claro: #FF9638;

    /* neutros */
    --main-neutro-A5: #0C0C0E;
    --main-neutro-A15: #252528;
    --main-neutro-A25: #3D3D43;
    --main-neutro-A35: #55555D;
    --main-neutro-A45: #6D6D78;
    --main-neutro-A55: #878792;
    --main-neutro-A65: #A2A2AA;
    --main-neutro-A75: #BCBCC2;
    --main-neutro-A85: #D7D7DA;

    /* dominantes */
    --main-dominantes-W90: #E5E5E5;
    --main-dominantes-W95: #F2F2F2;
    --main-dominantes-W100: #FFFFFF;
    --main-dominantes-W100-2: hsla(255, 0%, 100%, 0.85);

}

/* Imagenes */


/* Botones */

.btn{
    padding: .4rem 1.2rem;
    background-color: var(--main-dominantes-W100);
    color: var(--main-color-azul-oscuro);
    border-radius: 25px;
    border: 1px solid var(--main-color-azul-oscuro);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-transparent{
    padding: .4rem 1.2rem;
    background-color: transparent;
    color: var(--main-dominantes-W100);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.btn:hover{
    background-color: var(--main-color-azul);
    color: var(--main-dominantes-W100);
}

.btn-azul{
    padding: .4rem 1.2rem;
    background-color: var(--main-color-azul);
    color: var(--main-dominantes-W100);
    border-radius: 25px;
    border: 1px solid var(--main-color-azul-oscuro);
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 10px;
}
/* shadows */

.shadow{
    box-shadow: 0 0 rgba(0, 0, 0, .1);
}

.section-title{
    color: var(--main-neutro-A5);
}

/*icons programas*/

.programas-large{
    color: var(--main-color-azul);
}

.programas-short{
    height: 36px;
    width: 36px;
}

/* Contenido */

    /* header */

        #inicio{
            height: 90vh;
            max-height: 1000px;
        }

        .navbar{
            padding: 24px 0;
            background-color: var(--main-dominantes-W100-2);
            backdrop-filter: blur(8px);
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1030;
            
        }

        .navbar-brand{
            display: flex;
            align-items: center;
            gap: 12px;
            color: var(--main-neutro-A5);
        }

        div .foto{
            display: inline-block;
            height: 30px;
            width: 30px;
            background-image: url("../imgoptimizadas/foto\ yo.png");
            background-size: cover;
            border-radius: 50px;
        }

        .navbar-nav{
            gap: 48px;
        }

        .navbar-toggler{
            border-color: transparent;
            background-color: transparent;
        }

        .fa-bars{
            color: var(--main-neutro-A5);
        }

        .nav-link{
            color: var(--main-neutro-A5);
        }
        .nav-link:hover{
            color: var(--main-color-azul-oscuro);
        }
    

        .hero{
            background-color: transparent;
            height: 100vh;
            width: 100%;
            max-height: 1000px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 48px 0;
            overflow: hidden;
        }
        
        .slider{
            width: 100%;
        }

        /* .slider{
            position: absolute;
            width: 80%;
            overflow: hidden;
        } */

        .slider-inner{
            display: grid;
            grid-auto-flow: column;
            overflow: hidden;
            transform: translateX(0);

            gap: 48px;

            animation-name: slider;
            animation-duration: 14s;
            animation-delay: 1s;
            animation-timing-function: ease-in-out;
            animation-direction: normal;
            animation-iteration-count: infinite;
            animation-fill-mode: forwards;

        }

        @keyframes slider{
            14% {transform: translateX(-14.3%);}
            28% {transform: translateX(-28.6%);}
            42% {transform: translateX(-43.5%);}
            56% {transform: translateX(43.5%);}
            70% {transform: translateX(28.6%);}
            84% {transform: translateX(14.3%);}
            98% {transform: translateX(0%);}
        }

        /* .slider-inner{
            display: flex;
            flex-flow: row nowrap;
            gap: 48px;
            width: 200%;
            transition:  0s ease-in;
        } */

        /* .grande::-webkit-scrollbar{
            display: none;
        } */

        .slider-item-short{
            height: 312px;
            min-width: 456px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 24px;
            gap: 6px;
            background-size: cover;
            position: relative;
        }

        .slider-item-short::before{
            content: ' ';
            background-color: rgba(0,0,0,0.5);
            position: absolute;
            border-radius: 24px;

            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .slider-item-title{
            color: var(--main-dominantes-W100);
            display: block;
            position: relative;
        }

        .slider-item-category{
            color: var(--main-neutro-A85);
            display: block;
            position: relative;
        }

        .contactame{
            margin: 48px auto;
            width: fit-content;
        }

    /* main */

        /* skills */

        #skills{
            margin: 96px 0;
        }

        .container-skills{
            display: flex;
            justify-content: center;
        }
        
        .skills-card{
            background-color: var(--main-dominantes-W100);
            border-radius: 24px;
            padding: 48px;
            width: fit-content;
            display: flex;
            flex-flow: row;
            flex-wrap: wrap;
            align-items: center;
            gap: 89px;
            color: var(--main-neutro-A5);
        }

        /* circulo programas */

            .circulo-programas{
                height: 324px;
                width: 324px;
                background-color: var(--main-neutro-A15);
                border-radius: 500px;
                
                animation-name: radius;
                animation-duration: 800ms;
                animation-direction: alternate;
                animation-fill-mode: forwards;
                animation-timing-function: ease-in-out;
                animation-iteration-count: 1;
                animation-delay: 2s;
            }

            @keyframes radius {
                100% {border-radius: 24px;}
            }

            .frame-programas{
                padding: 24px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                position: relative;
                top: 0px;
                left: -15%;
                width: 324px;
                height: fit-content;

                animation-name: updown;
                animation-duration: 1500ms;
                animation-delay: 500ms;
                animation-direction: alternate;
                animation-iteration-count: infinite;
                animation-timing-function: cubic-bezier(0.2, 0.1, 0.01, 1);
            }

            @keyframes updown{
                100% {top: -20px;}
            }
            


            .row-programas{
                display: flex;
                flex-wrap: wrap;
            }

            .programa-individual{
                height: fit-content;
                width: fit-content;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .resplandor{
                background-size: cover;
                position: absolute;
                filter: blur(48px);
                height: 36px;
                width: 36px;
            }

            .programa{
                height: 72px;
                width: 72px;
                z-index: 900;

            }



        .skills-texto{
            width: 410px;
        }

        /* proyectos */

        #proyectos{
            margin: 48px 0;
        }

        .proyectos-section-subtitle{
            color: var(--main-neutro-A75);
        }

        .container-proyectos{
            display: grid;
            grid-auto-columns: 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 24px;
            grid-row-gap: 48px;
        }
        
        #title-proyectos{
            margin-bottom: 35px;
        }

            .card-proyectos{
                height: fit-content;
                width: 100%;
                padding: 24px;
                gap: 18px;
                border-radius: 24px;
                border: 0px;
                background-color: var(--main-dominantes-W95);
                filter: none;
                cursor: pointer;

                transition: ease-in-out 200ms;
            }

            .card-proyectos:hover{
                filter: blur(2px);
                background-color: var(--main-dominantes-W95);
                box-shadow: 0 0 rgba(0, 0, 0, 0);
                
                animation-name: card;
                animation-delay: 200ms;
                animation-duration: 600ms;
                animation-direction: alternate;
                animation-fill-mode: forwards;
                animation-timing-function: ease-in-out;
            }

            @keyframes card{
                100% {filter: blur(0px);}
                100% {background-color: var(--main-dominantes-W100);}
                100% {box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);}
            }


            .card-image-container{
                height: 225px;
                background-size: cover;
                background-position: center top;
                border-radius: 12px;
            }

            .apple{
                background-image: url("../imgoptimizadas/portada\ apple.jpg");
            }

            .faber{
                background-image: url("../imgoptimizadas/portada\ faber\ castell.jpg");
            }

            .danzas{
                background-image: url("../imgoptimizadas/portada\ danzas\ tipicas.jpg");
            }

            .pava{
                background-image: url("../imgoptimizadas/portada\ pava\ aliblanca.jpg");
            }

            .ricardo{
                background-image: url("../imgoptimizadas/portada\ ricardo\ palma.jpg");
            }
            .sport{
                background-image: url("../imgoptimizadas/Portada\ todosport.jpg");
            }
            .social-media{
                background-image: url("../imgoptimizadas/portada\ social\ media.jpg");
            }

            .card-title{
                color: var(--main-neutro-A5);
            }

            .container-programas{
                display: flex;
                gap: 6px;
            }

            .card-text{
                color: var(--main-neutro-A15);
                margin: 0;
            }
            
            .duracion{
                color: var(--main-color-naranja);
            }
        
            /* contacto */

            #contacto{
                padding: 96px 0;
            }

                /* card contacto */

                .card-contacto{
                    background-color: var(--main-neutro-A5);
                    padding: 100px;
                    border-radius: 500px;
                    display: flex;
                    flex-direction: column;
                    gap: 0px;

                    animation-name: contacto;
                    animation-duration: 1s;
                    animation-delay: 5s;
                    animation-timing-function: ease;
                    animation-fill-mode: forwards;
                    animation-iteration-count: 1;
                    
                }

                @keyframes contacto{
                    100% {gap:24px}
                    100% {border-radius: 48px;}
                }

                .contacto-title{
                    color: var(--main-dominantes-W100);
                }

                .contacto-subtitle{
                    color: var(--main-neutro-A85);
                }

                .botones-contacto{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 24px;
                }
    /* footer */

    footer{
        background-color: var(--main-neutro-A15);
        padding: 48px 0;
    }

    .container-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .sobremi{
        width: 267px;
    }

    .title-sobremi{
        color: var(--main-dominantes-W100);
        margin-bottom: 12px;
    }

    .info-sobremi{
        color: var(--main-neutro-A85);
    }

    .title-contacto-footer{
        color: var(--main-dominantes-W100);
        margin-bottom: 12px;

    }


    .enlace-redes{
        text-decoration: none;
        color: var(--main-neutro-A85);
    }

    ul{
        padding: 0;
    }

    footer li{
        margin: 6px 0;
    }

    /* media queries */

    @media screen and (max-width:990px) {
        .navbar-nav{
            margin-top: 24px;
            gap: 2px;
        }

        .skills-card{
            justify-content: center;
            max-width: 506px;
        }

        .container-proyectos{
            display: grid;
            grid-auto-columns: 1fr;
            grid-template-columns: 1fr 1fr;
            grid-row-gap: 48px;
            grid-column-gap: 24px;
        }

        .card-proyectos{
            height: fit-content;
            width: 100%;
            padding: 24px;
            gap: 18px;
            border-radius: 24px;
            border: 0px;
            background-color: var(--main-dominantes-W95);
            filter: none;
            cursor: pointer;

            transition: ease-in-out 200ms;
        }

        .card-contacto{
            padding: 48px;
        }

        #inicio{
            height: 50vh;
        }

    }

    @media screen and (max-width: 764px){
        .card-contacto{
            gap: 24px;
            border-radius: 24px;
        }

        .container-footer{
            flex-direction: column;
        }

        .container-proyectos{
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
           
        }

        .card-proyectos{
            min-width: 400px;
            
        }

        .container-footer{
            padding: 0 10%;
        }

        #inicio{
            height: 50vh;
        }
    }

    @media screen and (max-width: 500px){
        .skills-card{
            max-width: 90%;
        }

        .card-contacto{
            max-width: 90%;
            margin: 0 auto;
        }

        #inicio{
            height: 50vh;
            max-height: 750px;
        }
    }

    @media screen and (max-width:400px){
        .h1-bold{
            font-size: 2.488rem;
        }

        .h1-smbold{
            font-size: 2.488rem;
        }
        .h2-bold{
            font-size: 2.074rem;
        }

        .h2-smbold{
            font-size: 2.074rem;
        }
        .h3-bold{
            font-size: 1.728rem;
        }

        .h3-smbold{
            font-size: 1.728rem;
        }
        .h4-bold{
            font-size: 1.44rem;
        }

        .h4-smbold{
            font-size: 1.44rem;
        }
        .h5-bold{
            font-size: 1.2rem;
        }

        .h5-smbold{
            font-size: 1.2rem;
        }
        .h6-bold{
            font-size: 1rem;
        }

        .h6-smbold{
            font-size: 1rem;
        }

        .text-regular{
            font-size: 0.833rem;
        }
        .text-smbold{
            font-size: 0.833rem;
        }
        .text-small{
            font-size: 0.694rem;
        }

        .card-proyectos{
            min-width: 300px;
        }

        .skills-card{
            max-width: 300px;
        }

        .circulo-programas{
            height: 190px;
            width: 190px;
            background-color: var(--main-neutro-A15);
            border-radius: 500px;
            
            animation-name: radius;
            animation-duration: 800ms;
            animation-direction: alternate;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
            animation-iteration-count: 1;
            animation-delay: 2s;
        }

        @keyframes radius {
            100% {border-radius: 24px;}
        }

        .frame-programas{
            padding: 24px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 24px;
            position: relative;
            top: 0px;
            left: -20%;
            width: fit-content;
            height: fit-content;

            animation-name: updown;
            animation-duration: 1500ms;
            animation-delay: 500ms;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-timing-function: cubic-bezier(0.2, 0.1, 0.01, 1);
        }

        @keyframes updown{
            100% {top: -20px;}
        }
        


        .row-programas{
            display: flex;
            flex-wrap: nowrap;
            gap: 24px;
        }

        .programa-individual{
            height: fit-content;
            width: fit-content;
            padding: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .resplandor{
            background-size: cover;
            position: absolute;
            filter: blur(24px);
            height: 18px;
            width: 18px;
        }

        .programa{
            height: 36px;
            width: 36px;
            z-index: 900;

        }

        .card-contacto{
            padding: 24px;
        }

        .slider-item-short{
            height: 205px;
            min-width: 300px;
        }

        .hero{
            height: 50vh;
        }

        #inicio{
            height: 30vh;
        }


    }
