@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    scroll-behavior: smooth;
    scroll-padding: var(--offset-navbar-pc);

    font-family: "Rubik", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--main-color-neutros10);
}

::-webkit-scrollbar{
    width: 10px;
    background-color: var(--main-color-neutros90);
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color-neutros30);
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--main-color-neutros40);
}


/* tipografia */

.h1-regular, .h2-regular, .h3-regular, .h4-regular, .h5-regular, .h6-regular, .text-large-regular, .text-small-regular, .caption-regular, a{
    font-family: "Rubik", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 120%;
    margin: 0;
    padding: 0;
}

.h1-regular{
    font-size: 3rem;
}
.h2-regular{
    font-size: 2.5rem;
}
.h3-regular{
    font-size: 2.062rem;
}
.h4-regular{
    font-size: 1.750rem;
}
.h5-regular{
    font-size: 1.438rem;
}
.h6-regular{
    font-size: 1.188rem;
}
.text-large-regular{
    font-size: 1rem;
}
.text-small-regular{
    font-size: 0.812rem;
}
.caption-regular{
    font-size: 0.688rem;
}

/* variables */

:root{

/* colores */
    /* azul */
    --main-color-azul10: #9BA0F1;
    --main-color-azul20: #878DEE;
    --main-color-azul30: #6F75EB;
    --main-color-azul40: #212BE0;
    --main-color-azul50: #1C25BE;
    --main-color-azul60: #181FA4;
    --main-color-azul70: #0C0F4E;
    --main-color-azul80: #080B38;
    --main-color-azul90: #040519;

    /* naranja */
    --main-color-naranja10: #FFC38F;
    --main-color-naranja20: #FEB778;
    --main-color-naranja30: #FEA95D;
    --main-color-naranja40: #FE7A05;
    --main-color-naranja50: #D86804;
    --main-color-naranja60: #B95904;
    --main-color-naranja60: #6C3505;
    --main-color-naranja70: #592B02;
    --main-color-naranja80: #401F01;
    --main-color-naranja90: #1C0D01;

    /* neutros */
    --main-color-neutros0: #F1F1F4;
    --main-color-neutros10: #E9EAEF;
    --main-color-neutros20: #D2D3DE;
    --main-color-neutros30: #6E7093;
    --main-color-neutros40: #636584;
    --main-color-neutros50: #585A76;
    --main-color-neutros60: #53546E;
    --main-color-neutros70: #424358;
    --main-color-neutros80: #313242;
    --main-color-neutros90: #272733;
    --main-color-neutros100: #111124;

    --figma-blue-color: #0C8CE9;

/* numeros */
    /* radius */
    --24-radius: 24px;
    --12-radius: 12px;
    --6-radius: 6px;

    /* gap */
    --6-gap: 6px;
    --12-gap: 12px;
    --24-gap: 24px;
    --48-gap: 48px;
    --96-gap: 96px;
    --144-gap: 144px;


    /* efectos */
    --resplandor-blur:3px;
    --resplandor-color:rgba(255, 255, 255, 0.9);

    --background-blur: 16px; /*backdropfilter*/

    /* iconos */
    --icon-size: 24px;
    --icon-aspect: 1/1;

    /* height viewport responsive */
    --hero-height-pc: 80vh;
    --hero-height-tablet: 70vh;
    --hero-height-cel: 70vh;

    /* z-index */
    --zindex-bottom: 100;
    --zindex-normal: 200;
    --zindex-top: 300;
    
    /* navbar offset */
    --offset-navbar-pc: 120px;
}

/* estilos generales */ /*design system*/

body{
    background-color: var(--main-color-azul90);
}

a{
    text-decoration: none;
    color: currentColor;
}

.enlaces{
    font-size: 0.812rem;

    text-shadow: none;
    transition: 100ms ease-in-out;
}

.enlaces:hover{
    text-shadow: 0 0 var(--resplandor-blur) var(--resplandor-color);
}

.azul-10{
    color: var(--main-color-azul10);
}

.naranja-40{
    color: var(--main-color-naranja40);
}

.navbar-blur{
    backdrop-filter: blur(var(--background-blur));
}

.fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: var(--zindex-top);
}


/* card proyectos */

#grid-proyectos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: var(--24-gap);
}


.card-proyectos{
    padding: 0;
    background-color: var(--main-color-neutros90);
    min-height: 304px;
    width: 100%;

    grid-gap: auto;
}

.listaprogramas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    padding: var(--12-gap);
    column-gap: var(--12-gap);
    row-gap: var(--12-gap);
    
}

.encabezado-card{
    padding: var(--12-gap);
}

.title-trabajo{
    background-color: var(--main-color-neutros80);
    border: 1px solid var(--main-color-neutros30);
    color: var(--main-color-neutros0);

    transition: background-color .5s ease-in-out;
}

.card-proyectos-img{
    background-size: cover;
    background-position: center center;
    height: 250px;
}
.card-imagen-top{
    background-position: top center;
}

/* imagenes */

#uxuimicultura{background-image: url("../imagenes/Mi\ Cultura\ Ux\ Ui.png");}

#applewatch{background-image: url("../imagenes/portada\ apple.jpg");}

#fabercastell{background-image: url("../imagenes/portada\ faber\ castell.jpg");}

#identidadmicultura{background-image: url("../imagenes/Mi\ cultura\ identidad\ visual.jpg")}

#libro{background-image: url("../imagenes/portada\ danzas\ tipicas.jpg")}

#pavaaliblanca{background-image: url("../imagenes/portada\ pava\ aliblanca.jpg");}

#ricardopalma{background-image: url("../imagenes/portada\ ricardo\ palma.jpg");}

.dark-layer{
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    transition: background-color 300ms ease-in-out;
}

.dark-layer:hover{
    background-color: rgba(0,0,0,0);
}

.softwares, .title-trabajo{
    padding: 0.375rem 0.75rem;
    font-size: 0.812rem;
    width: fit-content;
}

.softwares{
    border-radius: 0;
}

/* softwares */

    .ai{
        color: #FF9A00;
        background-color: #390000;
    }
    .ps{
        color: #00A9FF;
        background-color: #001834;
    }
    .indd{
        color: #FD3067;
        background-color: #54001A;
    }

    .figma{
        color: #F1F1F4;
        background-color: #3B3B3B;
    }
    .html{
        color: #ECECF1;
        background-color: #FF4B00;
    }
    .css{
        color: #FAFAFA;
        background-color: #2196F3;
    }


/* botones */

.btn{
    padding: 0.6rem 1.125rem;
    color: var(--main-color-neutros0);
    border-radius: 0;
    font-size: 1.188rem;
}

.btn-azul, .btn-azul:hover{
    background-color: var(--main-color-azul70);
    border: 1px solid var(--main-color-azul40);
}
.btn-azul:hover{
    background-color: var(--main-color-azul60);
}
.btn-azul:active{
    background-color: var(--main-color-azul50) !important;
    border: 1px solid var(--main-color-azul40) !important;
}

.btn-gris, .btn-gris:hover, .btn-gris:active{
    background-color: var(--main-color-neutros90);
    border: 1px solid var(--main-color-neutros30);
}

.btn-gris:hover{
    background-color: var(--main-color-neutros80);
}
.btn-gris:active{
    background-color: var(--main-color-neutros60) !important;
    border: 1px solid var(--main-color-neutros30) !important;
}

.btn-vermas{
    background-color: var(--figma-blue-color);
    font-size: 0.688rem;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;

    cursor: pointer;

}

.btn-vermas:active{
    background-color: #055590;
}


.card-skills{
    padding: 36px;
    row-gap: var(--12-gap);
    background-color: var(--main-color-neutros100);
    border: 1px solid #2F3041;
    display: flex;
    flex-direction: column;

    height: fit-content;

    animation: 1s appear forwards;
    animation-timeline: view(50% 0%);
}

.card-skills-title{
    color: var(--main-color-neutros10);
}

.card-skills-text{
    color: var(--main-color-neutros20);
}



/* contenido ------------------*/ 

/* header */

#navbar{
    background-color: rgba(30, 30, 42, 0.25);
    width: 100%;
    height: fit-content;
    display: block;

    padding:  var(--24-gap) 0;
}

#navbar-list{
    margin: 0 auto;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: space-between;
}

.nav-item-enlace{
    color: var(--main-color-neutros20);
}

#hero{
    height: var(--hero-height-pc);
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: var(--24-gap);
}

.title-hero{
    text-align: center;
}

/* main */

#container-skills{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: var(--24-gap);
}

.top-margin{
    margin-top: 180px;
}

#carrusel-programas{
    width: 100%;
    padding: 5rem 0;
    white-space: nowrap;
    overflow: hidden;
}

.programas-slide{
    display: inline-block;
    align-items: center;

    animation: 15s slide infinite linear;
}

.programa{
    display: inline-block;
    color: var(--main-color-neutros30);
    font-size: 1.188rem;
    margin: 0 var(--48-gap);
}

@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#proyectos{
    margin: var(--144-gap) 0;
}

#container-proyectos{
    display: flex;
    width: 75%;
    flex-direction: column;
    row-gap: var(--48-gap);    
    
}

#title-proyectos{
    width: fit-content;
    border: 1px solid var(--figma-blue-color);

    padding-right: 3px;
}

#linetext{
    display: inline;

    border-radius: 0;
    height: 48px;
    border: 1px solid var(--main-color-neutros10);

    animation: 1.5s intermitente infinite linear
}

@keyframes intermitente{
    0%{
        opacity: 0;
    }
    49%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}
.card-proyectos p{
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: var(--zindex-normal);
}

.overlay.activo {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    display: flex;
    flex-direction: column;
    row-gap: var(--24-gap);
    background-color: rgba(30, 30, 42, 0.75);
    padding: 36px var(--24-gap);
    text-align: start;
    height: fit-content;
    width: fit-content;
    color: var(--main-color-neutros10);
    position: relative;
    z-index: 100;

    /* bg blur */
    backdrop-filter: blur(8px);
}

.modal iframe{
    height: 300px;
    width: 500px;
    background-color: #d6d6d6;
}

#listaprogramas-overlay{
    display: flex;
    column-gap: var(--12-gap);
    row-gap: var(--12-gap);
}

#descripcion-overlay, #overlay-titulo{
    max-width: 500px;
}

/*  */

#contacto{
    margin: 200px 0;

    animation: 1s appear forwards;
    animation-timeline: view(30% 0%);
}

#container-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: var(--96-gap);
}



.botones-contacto{
    display: flex;
    flex-wrap: nowrap;
    column-gap: var(--24-gap);
    row-gap: var(--24-gap);
}

.botones-contacto a{
    display: flex;
    align-items: center;
    column-gap: var(--6-gap);
}

/* footer */

#footer{
    background-color: var(--main-color-neutros100);
}

#lista-redes{
    list-style: none;
    margin: 0;
    padding: 72px 0;

    display: flex;
    column-gap: var(--24-gap);
}

.redes{
    font-size: 1rem;
    color: var(--main-color-neutros20);
}

.redes:hover{
    color: var(--main-color-neutros0);
}

.redes a{
    display: flex;
    align-items: center;
    column-gap: var(--6-gap);
}

.redes svg{
    height: 20px;
    width: 20px;
}

.botones-contacto svg{
    color: var(--main-color-neutros20);
}


@keyframes appear{
    from{
        opacity: 0.5;
        filter: blur(4px);
        transform: scale(75%);
    }
    to{
        opacity: 1;
        filter: blur(0px);
        transform: scale(100%);
    }
}

/*  */

@media screen and (max-width: 1140px) {
    #grid-proyectos{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 850px) {
    #container-skills{
        flex-direction: column;
        row-gap: var(--24-gap);
    }

    .card-skills{
        width: 100%;
    }

    .top-margin{
        margin-top: 0;
    }

    .card-proyectos-img{
        height: 200px;
    }

    .modal{
        width: 75%;
    }

    .modal h2{
        font-size: 2rem;
    }

    .modal iframe{
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .title-hero{
        width: 85%;
    }

    #grid-proyectos{
        display: flex;
        flex-direction: row;

        overflow: scroll;
    }

    .card-proyectos{
        min-width: 360px;
        min-height: 0;
        height: fit-content;
    }

    .card-proyectos-img{
        height: 300px;
    }

    #lista-redes{
        flex-direction: column;
        row-gap: var(--24-gap);
    }

}



@media screen and (max-width: 600px){

    .card-proyectos{
        min-width: 320px;
    }

    .botones-contacto{
        flex-direction: column;
    }

    .modal{
        width: 90%;
    }

    .modal iframe{
        height: 225px;
    }
}

@media screen and (max-width: 425px){
    .enlaces{font-size: 0.688rem;}

    #proyectos{
        margin: var(--96-gap) 0;
    }

    #container-proyectos{
        width: 100%;
    }

    .card-proyectos-img{
        height: 200px;
    }

    #container-contacto{
        align-items: start;
    }

    #contacto{
        margin: var(--144-gap) 0;
    }

    .card-proyectos{
        min-width:280px;
    }

    #descripcion-overlay{
        font-size: 0.812rem;;
    }

    .modal iframe{
        height: 180px;
    }
}